*{
	margin: 0px;
	padding: 0px;
}
.wrapper {
	font-family: tahoma;
	font-size: 13px;
	width: 1000px;
	margin: 0px auto;
}

#slogan
{
	background: orange;
	height: 80px;
	width: 1000px
}

#menu
{
	background: pink;
	height: 40px;
	width: 1000px
}

#logo
{
	height: 280px;
	width: 1000px;
	margin-left: -14px;
	margin-top: 3px;
}
.slide{
	height: 280px;
	width: 1000px;
}


#main
{
	margin-top: 6px
}
#main #left
{
	background: brown;
	width: 600px;
	float: left;
	min-height: 450px; /* chiều cao tối thiểu*/
}
#main #right
{
	background: #F2BDD0;
	width: 400px;
	float: left;
	min-height: 450px; /* chiều cao tối thiểu*/
}
#footer
{
	background: grey;
	width: 1000px;
	text-align: center;
	height: 70px;
	color: purple;
	clear: left;
	line-height: 70px /*căn ra giữa*/
 	

}


#menu ul {
	list-style: none;
}
#menu ul li {
	width: 140px;
	height: 40px;
	line-height: 40px;
	background: pink;
	position: relative;
	display: inline-table;
	text-align: center;
	margin-left: -4px; 
	font-weight: bold;
  text-decoration: none;

}
#menu ul li a {
	display: block;
	text-decoration: none;
	color:black;
	font-family:tahoma;
}
#menu ul li:hover {
	background: red;
}
.sub-menu {
	display: none;
	position: absolute;
	margin-left: 4px !important;
}
#menu ul li:hover .sub-menu {
	display: block;
}

#main #right ul{
	text-decoration: none;
	list-style: none;
	color: #5512C9 ;
	background: #D1BAD9;
	font-family: tahoma;
	font-weight:bold;
}
#footer ul{
	background: pink;
	list-style: none;
	font-family: tahoma;
	position: relative;
	font-weight: bold;
	display: block;
}
#footer ul li{
display: inline-block;
text-decoration: none;
}

#main #left ul
{
	margin: 0px;
	padding: 0px;

}
#main #left ul li
{
	list-style: none;

}

/* đấu h2 + p  Tác động vào  thằng p  nằm sau h2. 
li > a là con
h2 - p tác độnp vào phần p  ngang hàng với h2.
mail li kiểu cha con
 Dấu , tác động vào chung danh sách
 Thuộc tính đặt trong dấu []
 :focus chỉ mình nó
::first-letter  đầu tiên
:: first-line dòng đầu tiên ;
----Luật css 
ưu tiên  !important 
*/
h3{
	text-align: center;
}













